body {
   margin: 0;
   padding: 0;
   background-color:  lightGray;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}

.heading {
  padding: 10px 30px;
  background: #FFFFFF;
  border: 1px solid blue;
  font-size: 1.4em;
  font-style: italic;
  font-family: Verdana;
  text-align: left;
  height: 50px;
 
  
}

.text{
	border: 3px solid ;
	left: 40px; 
	top: 20px;
 	position: absolute;
}
.menuAndContent {
  width: 100%;
  height: 100%;
}

.menu {
  padding: 10px;
  background: #444666;
  border: 1px solid blue;
  font-family: Verdana;
  height: 50px;
  

}

.content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid blue;
  background: #FFFFFF;	
  left: 200px; 
  right: 195px;
  top: 160px;
  height: 80%;
  position:absolute;
  padding-top: 20px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 15px;

}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.last{
	margin-left: 70%;
}
}